<connectionStrings>
	<add name="fx.goods-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxGoods;User ID=sa; Password=sa"/>
	<add name="fx.car-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxCar;User ID=sa; Password=sa"/>
	<add name="fx.house-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxHouse;User ID=sa; Password=sa"/>
	<add name="fx.aggregate-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxAggregate;User ID=sa; Password=sa"/>
	<add name="fx.collectinfo-sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxCollectInfo;User ID=sa; Password=sa"/>

	<add name="elmah-sqlserver"   providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxConfigElmah;User ID=sa; Password=sa"/>
	<add name="fx.site-sqlserver"   providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxConfigUser;User ID=sa; Password=sa"/>
  <add name="fx.config-sqlserver"   providerName="System.Data.SqlClient" connectionString="Data Source=.\FENGXING;Initial Catalog=FxConfig;User ID=sa; Password=sa"/>
</connectionStrings>
